/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  color: $grey;
  font-size: 12px;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: $red;

  img {
    width: 43px;
    height: 43px;
  }
}

nav {
  width: 900px;
  background-color: $red;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      a {
        background-color: white;
        border-radius: 4px;
        color: $grey;
        font-weight: 700;
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
        position: relative;
        -webkit-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -moz-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -ms-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -o-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

        &:hover {
          color: $light-grey;
          -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
        }

        &:active {
          background-color: $light-grey;
          color: white;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

#root {
  height: 100%;
  padding-top: 20px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: $black;
}

#index{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.pokelist{
  width: 150px;
  overflow: scroll;
  height: 100vh;
  list-style: none;
}

#detail{
  border: 2px solid black;
  height: auto;
}

#PokemonDetailContainer{
  padding: 20px;
  margin: 40px;
  height: 90%;
  width: 60%;
  border: 5px solid black;
  background-color: gray;
  font: 30px;
  color: black;
}

#PokemonDetailContainer li {
  list-style: none;
  vertical-align: baseline;
}

.pokeName{
  font-size: 50px;
}

.img-container{
  background-image: linear-gradient(215deg, rgb(212, 51, 22), rgb(255, 255,0));
  width:auto;
}

#poke-image{
  margin: 0 auto;
}
